@{
    ViewData["Title"] = "Control panel";
}

<div class="article">
    <div class="ui masthead vertical tab segment">
        <div class="ui container">
            <div class="introduction">
                <h1 class="ui header">
                    Welcome to the command center
                    <div class="sub header">
                        This is a control panel where you may tweak all QuizzMan's settings
                    </div>
                </h1>
            </div>
        </div>
    </div>
    <div class="main ui container">
        
    </div>
</div>



