@inject SignInManager<User> SignInManager

<div class="ui container">
    <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
            <i class="sidebar icon"></i>
        </a>
        <a class="active item">Home</a>
        <a class="item" asp-controller="Home" asp-action="Index">Work</a>
        <a class="item">Company</a>
        @if (SignInManager.IsSignedIn(User))
        {
            <a class="item" asp-route-area="ControlPanel" asp-controller="Home" asp-action="Index">
                <i class="icon setting"></i>
                Control panel
            </a>
        }
        @await Html.PartialAsync("_LoginPartial")
    </div>
</div>