<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>@ViewBag.Title</title>

    <environment names="Development">
        @await Html.PartialAsync("Development/_LayoutStylesheets")
    </environment>
    <environment names="Staging,Production">
        @await Html.PartialAsync("Production/_LayoutStylesheets")
    </environment>
</head>
<body>
        @await Html.PartialAsync("Navigation/_FollowingMenu")
        @await Html.PartialAsync("Navigation/_SideMenu")
        <div class="pusher">
            @RenderSection("menu", required: true)
            @RenderBody()
            @await Html.PartialAsync("_Footer")
        </div>

    <environment names="Development">
        @await Html.PartialAsync("Development/_LayoutScripts")
    </environment>
    <environment names="Staging,Production">
        @await Html.PartialAsync("Production/_LayoutScripts")
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
