<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>@ViewBag.Title</title>

    <environment names="Development">
        @await Html.PartialAsync("StylePartials/Dev/_LayoutLoginStyles")
    </environment>
    <environment names="Staging,Production">
        @await Html.PartialAsync("StylePartials/Prod/_LayoutLoginStyles")
    </environment>
    @RenderSection("stylesheets", required: false)
</head>
<body>
            
    @RenderBody()

    <environment names="Development">
        @await Html.PartialAsync("ScriptPartials/Dev/_LayoutLoginScripts")
    </environment>
    <environment names="Staging,Production">
        @await Html.PartialAsync("ScriptPartials/Prod/_LayoutLoginScripts")
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
