@using System.Security.Claims

@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="item">
        <button type="submit" class="ui inverted button">Logoff</button>
    </form>
}
else
{
    <a class="item" asp-controller="Account" asp-action="Login" title="Log in">Log in</a>
    <a class="item" asp-controller="Account" asp-action="Register" title="Register">Sign Up</a>
    @*<a class="item">Login</a>
    <a class="item">Signup</a>*@
}
