@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="right menu">
            <a class="item" asp-controller="Home" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            <button type="submit" class="ui inverted button">Log off</button>
    </form>
}
else
{
    <div class="right item">
        <a class="ui inverted button" asp-controller="Account" asp-action="Login" title="Log in">Log in</a>
        <a class="ui inverted button" asp-controller="Account" asp-action="Register" title="Register">Sign Up</a>
    </div>
}
