
        <div class="item">
            <a class="ui logo icon image" src="/">
                <img src="/images/logo.png">
            </a>
            <a href="/"><b>Control panel</b></a>
        </div>
    <a class="item" asp-route-area="ControlPanel" asp-controller="ManageUsers" asp-action="Index">Users</a>
    <a class="item">Testimonials</a>
    <a class="item">Sign-in</a>

